.stars {
    position: relative;
    width: 500px;
    height: 100px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ label {
    background-image: url('img/star.png');
}

input[type="radio"]:checked ~ label ~ label {
    background-image: url('img/star.png');
}

label {
    float: right;
    cursor: pointer;
    background-image: url('img/star-empty.png');
    background-size: contain;
    width: 40px;
    height: 40px;
    display: inline-block;
}

label:hover ~label {
    background-image: url('img/star.png');
}

label:hover {
    background-image: url('img/star.png');
}

input[type="radio"]:checked ~ label::before {
    font-size: 2em;
    color: gold;
}